@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    
}
body {
    background-image: linear-gradient(to right, #B1EDE8, #0E7C7B );
}
main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(12, 95, 93, 0.769);
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #7D8491;
    text-align: center;
    text-shadow: 1px 1px 0px rgba(84, 88, 97, 0.702);

}

h2 {
    color: #A30000;

}
 p {
    text-align: justify;
}